@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

body{
    background: #051118;
}
#ADS, #bpk{
    text-align: center;
    padding: 5px;
    border: 5px;  
	color: rgb(238, 238, 238);
}
header{
	font-family: "Electrolize", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.myButton {
	box-shadow:inset 0px 0px 26px 6px #e32424;
	background-color:transparent;
	border-radius:42px;
	border:3px solid red;
	display:inline-block;
	cursor:pointer;
	font-size:20px;
	font-style:italic;
	padding:12px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ba3737;
	font-family: "Electrolize", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(238, 238, 238);
	transition: all 150ms ease-in-out;

}
.myButton:hover {
	background-color:transparent;
	box-shadow: 0 0 10px 0 red inset, 0 0 15px 4px red;
	border:5px solid red;
}
.myButton:active {
	position:relative;
	top:1px;
}

	nav ul li{
		list-style-type: none;
		display: inline;
		padding: 15px;
	}
	nav{
		text-align: center;
	}
	h1,h2,h3,h4{
		padding: 10px;
		padding-bottom: 0px;
		color: rgb(238, 238, 238);
		font-family: "Electrolize", sans-serif;
		font-weight: 400;
		font-style:normal;
	}
	p{
		font-family: "Atkinson Hyperlegible", sans-serif;
		font-weight: 400;
		font-style: normal;
		width: 60%;
		color: aliceblue;
		padding: 10px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	footer{
		background: rgb(8, 2, 47);
		padding: 0;
		margin: 0px;

	}
	aside{
		width: 25%;
		height: 30%;
	}
	aside, iframe{
		width: 20%;
		height: 30%;
		text-align:center;
	}
	iframe{
		width: 100%;
		height: 40%;
	}
	#rod{
		text-align: end;
		font-family: "Electrolize", sans-serif;
		font-weight: 400;
		font-style:normal;
	}
	.imgs{
		list-style-type: none;
		text-align: center;
		margin: 0;
		display: grid;
		grid-template-columns: 1000px 300px;
		grid-template-rows: 300px 300px;
		gap: 20px;
		align-items: stretch;
	}
	.docentes{
		text-align: center;
		border-radius: 100px;
		display: inline;
	}
	.box{
		text-align: center;
		display: inline;
	}
	.item {
		align-items: center;
		margin: 5px;
		text-align: center;
		padding: 10px;
	}
	.grid1{
		align-items: center;
		display: inline-grid;
		padding: 10px;
		max-width: 350px;
		max-height: 400px;
		margin: 10px;
		border: 1px solid #ca1212;
		border-top-left-radius:100px ;
		border-bottom-right-radius: 100px;
		grid-row: 1;
		grid-column: 1;
	}
	.grid2{
		align-items: center;
		display: inline-grid;
		padding: 10px;
		max-width: 350px;
		max-height: 400px;
		margin: 10px;
		border: 1px solid #ca1212;
		border-top-left-radius:100px ;
		border-bottom-right-radius: 100px;
		grid-column: 3;
		grid-row: 1;
	}
	.grid3{
		align-items: center;
		display: inline-grid;
		padding: 10px;
		max-width: 350px;
		max-height: 400px;
		margin: 10px;
		border: 1px solid #ca1212;
		border-top-left-radius:100px ;
		border-bottom-right-radius: 100px;
		grid-column: 2;
		grid-row: 1;
	}
	.grid4{
		align-items: center;
		display: inline-grid;
		padding: 10px;
		max-width: 350px;
		max-height: 400px;
		margin: 10px;
		border: 1px solid #ca1212;
		border-top-left-radius:100px ;
		border-bottom-right-radius: 100px;
		grid-column: 1;
		grid-row: 2;
	}