@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

html{
	scroll-behavior: smooth;
}

body{ /*fundo*/
    background: #03002a;
}
.logo{
	padding: 0px;
	width: 300px;
	height: 75px;
	display: flex;
	justify-content: space-between;
}

#ADS, #bpk{
	font-size: 40px;
    text-align: center;
    padding: 5px;
    border: 5px;  
	color: rgb(238, 238, 238);
	margin: 0 auto;
}
header{ /*cabeçalho*/
	height: 320px;
	font-family: "Electrolize", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.myButton { /*botões de navegação*/
	box-shadow:inset 0px 0px 26px 6px #e32424;
	background-color:transparent;
	border-radius:42px;
	border:3px solid red;
	display:inline-block;
	cursor:pointer;
	font-size:20px;
	font-style:italic;
	padding:12px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ba3737;
	font-family: "Electrolize", sans-serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(238, 238, 238);
	transition: all 150ms ease-in-out;

}
	.myButton:hover {
		background-color:transparent;
		box-shadow: 0 0 10px 0 red inset, 0 0 15px 4px red;
		border:5px solid red;
	}
	.myButton:active {
		position:relative;
		top:1px;
	}

nav ul li{ /*navegação*/
	list-style-type: none;
	display: inline;
	padding: 15px;
}
nav{
	text-align: center;
}
h1{
	font-size: 45px;
}
h2{
	font-size: 30px;
}
h1,h2,h3,h4{ /*textos chave*/
	padding: 10px;
	padding-bottom: 0px;
	color: rgb(238, 238, 238);
	font-family: "Electrolize", sans-serif;
	font-weight: 400;
	font-style:normal;
}
p{ /*texto */
	font-family: "Atkinson Hyperlegible", sans-serif;
	font-weight: 400;
	font-style: normal;
	width: 60%;
	color: aliceblue;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}
footer{ /*rodapé*/
	background: rgb(8, 2, 47);
	padding: 0;
	margin: 0px;

}
aside{ /* lateral*/
	width: 25%;
	height: 30%;
}
aside, iframe{
	width: 20%;
	height: 30%;
	text-align:center;
}
iframe{ /*mapa do endereço*/
	width: 100%;
	height: 40%;
}
#rod{
	text-align: end;
	font-family: "Electrolize", sans-serif;
	font-weight: 400;
	font-style:normal;
}
.imgs{
	list-style-type: none;
	text-align: center;
	margin: 0;
	display:flex;
	align-items:center;
}
.docentes{
	text-align: center;
	border-radius: 100px;
	display: inline;
}
.box{
	text-align: center;
	display: inline;
}
.item {
	align-items: center;
	margin: 5px;
	text-align: center;
	padding: 10px;
}


li{
	padding: 5px;
}

.caixa {
    width: 80%;
    color: rgb(8, 2, 47);
    background-color: red;
    border: 3px solid red;
    border-radius: 2px;
    padding: 1px;
    margin: 20px auto;
}

.titulo {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    padding: 20px;
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.informacoes {
    display: none;
    padding: 5px 1px;
    align-items: center;
    color: rgb(238, 238, 238);
    background-color: rgb(8, 2, 47);
    border: 4px solid rgba(8, 2, 47);
    border-radius: 5px;
    font-family: "Atkinson Hyperlegible", sans-serif;
    font-weight: 200;
    font-style: normal;
    width: 99%;
}

.toggle-checkbox {
    display: none;
}

.toggle-checkbox:checked + .titulo .mais::after {
    content: "-";
}

.toggle-checkbox:checked + .titulo + .informacoes {
    display: block;
}

.mais::after {
    content: "+";
    color: rgb(8, 2, 47);
}

@media (min-width: 768px) and (max-width: 1024px){
    .caixa {
        width: 90%;
    }
    .titulo {
        font-size: 24px;
        padding: 15px;
    }
    .informacoes {
        font-size: 14px;
		border: 2px solid red;
    	border-radius: 5px;
    }
}

@media (min-width: 50px) and (max-width: 767px) {
    .caixa {
        width: 95%;
    }
    .titulo {
        font-size: 20px;
        padding: 10px;
    }
    .informacoes {
        font-size: 12px;
		border: 1px solid red;
    	border-radius: 5px;
    }
}

